<div class="container"> 

    <h3>Fontawesome icon </h3>
    <p>
        <i class="fa-solid fa-flag"></i>
        <i class="fa-brands fa-amazon"></i>
        <i class="fa-regular fa-bell"></i>
    </p>




</div>