<div class="container"> 

    <h3>Fontawesome icon </h3>
    <p>
        <i class="fa-solid fa-flag"></i>
        <i class="fa-brands fa-amazon"></i>
        <i class="fa-regular fa-bell"></i>
    </p>

    <br>
    <hr>

    <div data-controller="home">
        <h6> Pick date using jQuery Datepicker </h6>
        <p>Date: <input type="text" id="datepicker"></p>
        <br>
        <hr>
        <h6> JQuery Draggable Element </h6>
        <div id="draggable" class="ui-widget-content">
        <p>Drag me around</p>
        </div>
        <br>
        <hr>
        <h6> Click Event using JQuery </h6>
        <button id="btn-click"> Click Me </button>
    </div>


</div>