<section class="vh-100" style="background-color: #4B515D;">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" style="color: #4B515D; border-radius: 35px;">
          <div class="card-body p-4">

            <%= form_with url: "/weather", local: true, data: { turbo: false }, method: :post do |form| %>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">City Name</label>
                <%= form.text_field :city_name, :class=> "form-control"%>
                <div id="emailHelp" class="form-text">Please enter the city name correctly.</div>
              </div>

              <div class="submit-btn">
                <div class="row">
                  <div class="col d-flex justify-content-center align-items-center">
                    <%= form.submit "Submit", :class=> "btn btn-primary w-50" %>
                  </div>
                </div>
              </div>

            <% end %>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>