<div class="container" data-controller="city">

<h1> Get city name </h1>

<select id="select_country" name="state">
  <option value="">Select Country</option>
  <% @all_country.each do |key, value| %>
  <option value="<%= key %>"><%= value %></option>
  <% end %>
</select>

  <select id="select_state">
  </select>

  <select id="select_city">
  </select>

</div>